<div class="container position-relative">
    <div class="row pb-2">
        <div class="col col-12 col-md-8 col-lg-5 footer-text">
            <div class="narrow">
                <h4 class="mb-3">support and update features</h4>
                <p>We are ready to support each customer in updating and installing the chat application on the site.</p>
            </div>
        </div>
        <div class="col col-12 col-md-4 col-lg-3">
            <a class="nav-link no-arrow" href="https://imbachat.com/contacts">Contacts</a>
        </div>
        <div class="col col-12 col-md-6 col-lg-4 footer-menu">
            <nav class="navbar navbar-expand">
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav narrow">
                        
                        <li class="nav-item dropdown dropup">
                            <a class="nav-link dropdown-toggle no-arrow" href="https://imbachat.com/help">Help</a>
                            
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col col-12 col-md-4 col-lg-3 copyright d-flex justify-content-end align-items-center">
            <span>© 2019 ImbaChat. All rights reserved.</span>
        </div>
    </div>
</div>
{% component 'ImbaChat' %}