
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/style.css'|theme }}">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/fonts.css'|theme }}">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/media.css'|theme }}">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/animation.css'|theme }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% scripts %}
    {% framework extras %}
    {% styles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="{{ 'assets/js/wow.js'|theme }}"></script><script src="{{ 'assets/js/main.js'|theme }}"></script>
    <title>{{ this.page.title }}</title>
