<form id="send-form"
      data-request="onSignin"
      class="d-flex flex-column justify-content-center align-items-center"
       onsubmit="ym(55218604, 'reachGoal', 'auth_event', {}); return true;"
      >
    <input type="text" name="login" placeholder="Email" id="userSigninLogin" required>
    <input type="password" name="password" placeholder="Password" id="userSigninPassword" required>
    <button type="submit">Sing in</button>
    <a class="link-reset_pass" href="/user/reset_pass">Forgot password?</a>
    <a class="link-registrate" href="/user/registrate">Registration</a>
</form>

