<!doctype html>
<html lang="ru">
{% partial 'head' %}
<body>


<header class="d-flex align-items-center position-relative">
    {% partial 'header' %}
</header>
<div class="user-list">
	<h2>Try chat on test accounts</h2>
	<ul>
		<li style="color: #7b7b7b;">Login - Password
			
		</li>
		<li>vasiliy@mail.com - vasiliyvasiliy
			{% if not(user) %}
			<form
			      data-request="onSignin"
			       onsubmit="if(window.ym) ym(55218604, 'reachGoal', 'auth_event', {}); return true;"
			      >
			    <input type="hidden" name="login" placeholder="Email" id="userSigninLogin" required value="vasiliy@mail.com">
			    <input type="hidden" name="password" placeholder="Password" id="userSigninPassword" required value="vasiliyvasiliy">
			    <button type="submit">Sing in</button>
			</form>
			{% endif %}
		</li>
		<li>seriy@mail.com - seriyseriy
			{% if not(user) %}
			<form
			      data-request="onSignin"
			       onsubmit="if(window.ym) ym(55218604, 'reachGoal', 'auth_event', {}); return true;"
			      >
			    <input type="hidden" name="login" placeholder="Email" id="userSigninLogin" required value="seriy@mail.com">
			    <input type="hidden" name="password" placeholder="Password" id="userSigninPassword" required value="seriyseriy">
			    <button type="submit">Sing in</button>
			</form>
			{% endif %}
		</li>
		<li>sean@mail.com - seansean
			{% if not(user) %}
			<form
			      data-request="onSignin"
			       onsubmit="if(window.ym) ym(55218604, 'reachGoal', 'auth_event', {}); return true;"
			      >
			    <input type="hidden" name="login" placeholder="Email" id="userSigninLogin" required value="sean@mail.com">
			    <input type="hidden" name="password" placeholder="Password" id="userSigninPassword" required value="seansean">
			    <button type="submit">Sing in</button>
			</form>
			{% endif %}
		</li>
		<li>
			<span>vitaliy@mail.com - vitaliyvitaliy</span>
			{% if not(user) %}
			<form
			      data-request="onSignin"
			       onsubmit="if(window.ym) ym(55218604, 'reachGoal', 'auth_event', {}); return true;"
			      >
			    <input type="hidden" name="login" placeholder="Email" id="userSigninLogin" required value="vitaliy@mail.com" >
			    <input type="hidden" name="password" placeholder="Password" id="userSigninPassword" required value="vitaliyvitaliy">
			    <button type="submit">Sing in</button>
			</form>
			{% endif %}
		</li>
	</ul>
</div>
<style>
	.user-list {
	    margin: 20px;
	    text-align: center;
	    background: white;
	    padding: 20px;
	    border: 1px solid #ccc;
	    border-radius: 3px;
	}
	.user-list ul {
	    padding: 0;
	}
	.user-list h2 {
	    font-size: 24px;
	    width: 100%;
	    color: black;
	    border-bottom: 1px solid #ccc;
	    padding-bottom: 10px;
	}
	.user-list li {
	    list-style-type: none;
	    margin-top: 20px;
	}
	.user-list span {

	}
	.user-list form{
		margin-top: 15px;
		display: inline-block;
	}
	.user-list button{
		background: white;
		border-radius: 3px;
		border: 1px solid #b9b9b9;
	}
</style>
{% page %}
<footer>
    {% partial 'footer' %}
</footer>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->

<!-- Modal Start -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {% partial 'sign-in' %}
            </div>
        </div>
    </div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(55218604, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script> 
<noscript><div><img src="https://mc.yandex.ru/watch/55218604" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>