<!doctype html>
<html lang="ru">
{% partial 'head' %}
<body>


<header class="d-flex align-items-center position-relative">
    {% partial 'header' %}
</header>
<div class="user-list">
	<h2>Попробуйте чат на тестовых аккаунтах</h2>
	<ul>
		<li style="color: #7b7b7b;">Логин - Пароль</li>
		<li>vasiliy@mail.com - vasiliyvasiliy</li>
		<li>seriy@mail.com - seriyseriy</li>
		<li>sean@mail.com - seansean</li>
		<li>vitaliy@mail.com - vitaliyvitaliy</li>
	</ul>
</div>
<style>
	.user-list {
	    margin: 20px;
	    text-align: center;
	    background: white;
	    padding: 20px;
	    border: 1px solid #ccc;
	    border-radius: 3px;
	}
	.user-list ul {
	    padding: 0;
	}
	.user-list h2 {
	    font-size: 24px;
	    width: 100%;
	    color: black;
	    border-bottom: 1px solid #ccc;
	    padding-bottom: 10px;
	}
	.user-list li {
	    list-style-type: none;
	    margin-top: 20px;
	}
</style>
{% page %}
<footer>
    {% partial 'footer' %}
</footer>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->

<!-- Modal Start -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {% partial 'sign-in' %}
            </div>
        </div>
    </div>
</div>
</body>
</html>